.form table {
  margin: auto;
}

.form fieldset {
  border: none;
}

.form .label-wrapper {
  display: inline-block;
  width: 20%;
}

.form .weather-icons-wrapper {
  display: flex;
  justify-content: space-between;
}

.form .range-labelAndInput {
  display: flex;
  justify-content: space-evenly;
}

.form .range-input {
  display: inline-block;
  width: 40%;
}

input[type="range"] {
  width: 80%;
}

textarea {
  border-radius: 4px;
}

.regular-checkbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 14px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.regular-checkbox:active,
.regular-checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.regular-checkbox:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
    inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: var(--magenta);
}

.regular-checkbox:checked:after {
  content: "\2714";
  font-size: 16px;
  position: absolute;
  top: 3px;
  left: 8px;
  color: var(--magenta);
}
