.modal {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--magenta);
}

.modal .modal-content {
  width: 400px;
  max-width: 75vw;
  max-height: calc(100vh - 1rem);
  background: var(--white);
  border-radius: 5px;
  padding: 20px 30px 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal .hideModal {
  z-index: -1;
  opacity: 0;
  animation: hide 0.25s;
}
@keyframes hide {
  from {
    z-index: 2;
    opacity: 1;
  }
  to {
    z-index: -1;
    opacity: 0;
  }
}
.modal .showModal {
  opacity: 1;
  z-index: 2;
  animation: show 0.3s;
}
@keyframes show {
  from {
    opacity: 0;
    z-index: -1;
  }
  to {
    opacity: 1;
    z-index: 2;
  }
}

.modal .modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: var(--margin-s);
}
.modal .modal-title {
  line-height: 1.5;
  margin: 0;
}

.modal .modal-body fieldset {
  border: none;
}

.modal .modal-body {
  position: relative;
  margin: var(--margin-s);
  text-align: center;
}

.modal .modal-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  padding: 1rem;
}

#promise-div input {
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

.modal h5 {
  font-weight: 700;
  font-size: 1.2rem;
}

.modal p {
  font-size: 1rem;
}

.modal label {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.modal button {
  background-color: var(--magenta);
  color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 2px 4px grey;
}

.modal button:hover {
    background-color: var(--magenta-light);
  }
