.App {
  text-align: center;
  background-color: var(--blue-steel);
  color: var(--white);
  width: 90%;
  margin: auto;
  border-radius: 10px;
  padding: var(--padding-s);
  padding-top: var(--padding-m);
  padding-bottom: var(--padding-m);
  box-shadow: 0px 2px 4px grey;
}

@media (min-width: 768px) {
  .App {
    width: 85%;
    padding: var(--padding-m);
  }
}

.App button {
  background-color: var(--magenta);
  color: var(--white);
}

.App hr {
  border: 1px solid var(--white);
}

