:root {
  --purple: #52257b;
  --magenta: #962a8b;
  --magenta-light: #bd36af;
  --blue-steel: #1e78bb;
  --white: #ffff;
  --margin-s: 10px;
  --margin-m: 20px;
  --padding-s: var(--margin-s);
  --padding-m: var(--margin-m);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
